
@font-face {
    font-family: 'Segoe UI';
    src: url('../sources/fonts/segoeui.ttf')
}

body {
    background-color: black;
    background-image: url('../sources/wallpapers/WIN7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
}

.taskbar {
    background-image: url('../sources/taskbar/win7taskbar.png');
    overflow: hidden;
    font-family: 'Segoe UI';
    margin: 0;
    text-align: left;
    position: fixed;
    bottom: 0; /* Positions it at the bottom */
    left: 50%; /* Centers it horizontally */
    transform: translateX(-50%); /* Adjusts for centering */
    height: 50px; /* Reduced height to look like a taskbar */
    width: 100%; /* Makes it full width */
    background-color: none;
    display: flex; /* Uses flexbox to align items */
    padding: 0 20px; /* Adds padding for inner spacing */
    box-sizing: border-box; /* Includes padding in width/height */
    align-items: right;
}

body {
    cursor: url('../sources/cursors/arrow.png'), auto;
}

a {
    cursor: url('../sources/cursors/link.png'), auto;
}

p {
    margin: 0px;
}

.datetime {
    text-align: center;
    float: right;
    margin: -10px 25px;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: #FFFFFF;
    align-self: center;
    text-justify: right; /* Spaces items evenly */
    right: 100%;
    float: right;
    margin-left: auto;
}

.oops {
    font-family: 'Segoe UI';
    text-align: center;
}
