@font-face {
    font-family: 'BIOS';
    src: url('../sources/fonts/DOSVGA437.ttf')
}

.SetupBrowser {
    font-family: BIOS;
}

body {
    margin: 0px;
    padding: 0px;
}

.SetupBrowser-Header {
    margin: 0px;
    padding: 3px;
    text-align: center;
    background-color: #00ffff;
}

a {
    text-decoration: none;
}

.SetupBrowser-Footer {
    background-color: #00ffff;
    padding: 3px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 3px 0px;
}